.landing-hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-background-wrapper {
  width: 100%;
  position: relative;
}

.hero-background {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.gradient-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.hero-content-wrapper {
  z-index: 10;
  padding: 0 48px 48px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  max-width: 1440px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: -1%;
  text-align: center;
  background: radial-gradient(circle, #7C7C7C, #666666);
  background-clip: text;
  color: transparent;
  margin: 0;
}

.hero-description {
  max-width: 768px;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 1%;
  text-align: center;
  color: #666666;
  margin: 36px 0px 36px 0px;
}

.hero-cta-wrapper {
  border: 1px solid #D8D8D8;
  border-radius: 1000px;
  padding: 8px;
  cursor: pointer;
}

.hero-cta {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 56px;
  letter-spacing: 1%;
  color: #666666;
  background-color: #F0F0F0;
  border: none;
  border-radius: 1000px;
  padding: 8px 24px 8px 24px;
}

@media screen and (max-width: 1024px){
  .hero-background {
    height: 360px;
  }

  .hero-title {
    font-size: 64px;
    line-height: 72px;
  }
  
  .hero-description {
    font-size: 24px;
    line-height: 40px;
  }

  .hero-cta {
    font-size: 20px;
    line-height: 48px;
  }
}

@media screen and (max-width: 768px){
  .hero-background {
    height: 240px;
  }

  .hero-title {
    font-size: 48px;
    line-height: 56px;
  }
  
  .hero-description {
    font-size: 20px;
    line-height: 36px;
  }

  .hero-cta {
    font-size: 18px;
    line-height: 40px;
  }
}

@media screen and (max-width: 640px){
  .hero-background {
    height: 220px;
  }

  .hero-content-wrapper {
    padding: 0 25px 24px 25px;
  }

  .hero-title {
    font-size: 32px;
    line-height: 40px;
  }
  
  .hero-description {
    font-size: 18px;
    line-height: 30px;
  }
  
  .hero-cta-wrapper {
    display: none;
  }
}