.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_wrapper {
  width: 100%;
  height: 554px;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  position: absolute;
  left: 0;
  top: -883px;
}

.gradient_layer_left {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 18.48%, #FFFFFF 100%);
}

.gradient_layer_right {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 18.48%, #FFFFFF 100%);
}

.gradient_layer_full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 8.12%, #FFFFFF 82.85%);
}

.content_wrapper {
  z-index: 10;
  margin-top: -72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  max-width: 1440px;
  font-weight: 400;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: -0.01em;
  text-align: center;
  background: radial-gradient(118.5% 772.61% at 45.66% 117.9%, #7C7C7C 0%, #666666 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-clip: text;
  color: transparent;
}

.description {
  max-width: 768px;
  font-size: 28px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #666666;
  margin: 40px 0px 40px 0px;
}

.cta_wrapper {
  border: 1px solid #D8D8D8;
  border-radius: 1000px;
  padding: 8px;
  cursor: pointer;
}

.cta_button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 56px;
  letter-spacing: 0.01em;
  color: #666666;
  background-color: #F0F0F0;
  border: none;
  border-radius: 1000px;
  padding: 8px 24px 8px 24px;
}

@media screen and (max-width: 1440px) {
  .image_wrapper {
    height: 480px;
  }

  .image {
    top: -600px;
  }

  .title {
    max-width: 1024px;
    font-size: 68px;
    line-height: 76px;
  }
}

@media screen and (max-width: 1024px){
  .image_wrapper {
    height: 360px;
  }

  .image {
    top: -400px;
  }

  .title {
    max-width: 768px;
    font-size: 56px;
    line-height: 64px;
  }
  
  .description {
    font-size: 24px;
    line-height: 40px;
    margin: 32px 0 32px 0;
  }

  .cta_button {
    font-size: 20px;
    line-height: 48px;
  }
}

@media screen and (max-width: 768px){
  .image_wrapper {
    height: 280px;
  }

  .content_wrapper {
    margin-top: -48px;
  }

  .title {
    max-width: 640px;
    font-size: 44px;
    line-height: 56px;
  }
  
  .description {
    max-width: 480px;
    font-size: 20px;
    line-height: 36px;
    margin: 24px 0 24px 0;
  }

  .cta_button {
    font-size: 18px;
    line-height: 40px;
  }
}

@media screen and (max-width: 640px){
  .image_wrapper {
    height: 270px;
  }

  .image {
    top: 0px;
  }

  .content_wrapper {
    margin-top: -30px;
    padding: 0 24px 24px 24px;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.32px;
  }
  
  .description {
    font-size: 18px;
    line-height: 30px;
  }
  
  .cta_wrapper {
    display: none;
  }
}