.container {
  z-index: 50;
  position: fixed;
  top: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: rgba(102, 102, 102, 0.2);
  backdrop-filter: blur(48px);
  border-radius: 1000px;
  color: #666666;
  cursor: pointer;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  padding: 0px 24px 0px 24px;
  gap: 8px;
}

.logo_text {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-align: left;
}

.splitter_vertical {
  height: 100%;
  width: 1px;
  background-color: #D8D8D8;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu_item {
  list-style-type: none;
  padding: 8px 24px 8px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.01em;
  text-align: left;
}

.menu_cta {
  background-color: #F0F0F0;
  border-radius: 100px;
}

@media screen and (max-width: 640px) {
  .container {
    box-sizing: border-box;
    padding: 0px 16px 0px 16px;
  }

  .wrapper {
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
  }

  .logo_text {
    font-size: 16px;
  }

  .menu_item {
    display: none;
  }

  .splitter_vertical {
    display: none;
  }

  .menu_cta {
    display: block;
    font-size: 14px;
    padding: 0px 24px 0px 24px;
  }
}