.wrapper {
  width: 100%;
  display: flex;
  padding: 160px 84px 160px 84px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(95.8% 95.8% at 50.13% -81.92%, #999999 0%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.logo_wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 160px;
}

.image {
  width: auto;
  height: 474px;
  box-sizing: border-box;
}

.title_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  max-width: 968px;
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.4px;
  text-align: center;
  background: radial-gradient(118.5% 772.61% at 45.66% 117.9%, #7C7C7C 0%, #666666 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-clip: text;
  color: transparent;
}

.perspective_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 120px 64px 120px 64px;
  }

  .logo_wrapper {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    padding: 80px 0px 60px 0px;
  }

  .logo_wrapper {
    margin-bottom: 80px;
  }

  .image {
    height: 246px;
  }

  .title_wrapper {
    padding: 0 40px 0 40px;
    box-sizing: border-box;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.32px;
  }
}